.training {
  padding: 150px 120px 120px;
  display: grid;
  grid-template-columns: 1fr 48%;
  grid-auto-rows: min-content;
  grid-template-areas:
    "training__title training__img"
    "training__text training__img"
    "training__links training__img";
  column-gap: 160px;
  row-gap: 50px;
  position: relative;

  &__title {
    grid-area: training__title;
    margin: 0;
    padding: 0;
    @include section-title;
  }

  &__text {
    grid-area: training__text;
    margin: 0;
    padding: 0;
    @include section-text;
    min-height: 272px;
  }

  &__img {
    grid-area: training__img;
    display: block;
    max-width: 100%;
  }

  &__links {
    grid-area: training__links;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    column-gap: 30px;
    align-self: end;
  }

  &__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.55;
    color: inherit;

    &:hover {
      opacity: 0.75;
    }
  }

  @media screen and (max-width: 980px) {
    & {
      padding-left: 50px;
      column-gap: 50px;
    }
  }

  @media screen and (max-width: 740px) {
    & {
      padding: 40px 0 60px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "training__title"
        "training__img"
        "training__text"
        "training__links";
      column-gap: unset;
      row-gap: 40px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 40px;
      width: 100%;
      border-top: 1px solid #e3e3e3;
    }

    &__text {
      min-height: unset;
    }

    &__link {
      font-size: 14px;
      line-height: 1.42;
    }

    &__title {
      margin-top: 40px;
    }
  }
}
