.footer {
  box-sizing: border-box;
  width: 100%;
  background: #efefef;
  display: flex;
  flex-direction: column;
  padding: 80px 123px 60px 120px;
}
.footer__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  max-width: 229px;
}
.footer__form {
  margin: 50px 0 90px;
  max-width: 360px;
  position: relative;
}
.footer__input {
  border: 1px solid rgba(199, 199, 199, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  padding: 11px 20px;
  background-color: transparent;
  cursor: pointer;
}
.footer__input::-moz-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 2.15;
  color: inherit;
  opacity: 0.7;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.footer__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 2.15;
  color: inherit;
  opacity: 0.7;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.footer__input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 2.15;
  color: inherit;
  opacity: 0.7;
  transition: 0.3s;
}
.footer__input:hover::-moz-placeholder {
  opacity: 1;
}
.footer__input:hover:-ms-input-placeholder {
  opacity: 1;
}
.footer__input:hover::placeholder {
  opacity: 1;
}
.footer__input:focus {
  outline: none;
}
.footer__input:focus ~ .footer__ok, .footer__input:valid ~ .footer__ok {
  display: block;
}
.footer__input:-webkit-autofill, .footer__input:-webkit-autofill:hover, .footer__input:-webkit-autofill:focus, .footer__input:-internal-autofill-selected {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
.footer__ok {
  position: absolute;
  right: 22px;
  top: 11px;
  display: none;
  font-size: 13px;
  line-height: 2.15;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.footer__bottom-bar {
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  margin: 0;
  padding: 10px 0 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #cfcfcf;
}
.footer__options {
  display: grid;
  -moz-column-gap: 24px;
       column-gap: 24px;
  grid-template-columns: 28px 44px 20px;
}
.footer__img {
  background-repeat: no-repeat;
  background-position: center;
}
.footer__img_type_sun {
  height: 28px;
  width: 28px;
  background-image: url(./images/brightness-icon.svg);
}
.footer__img_type_night {
  height: 19.35px;
  width: 19.35px;
  background-image: url(./images/night-icon.svg);
}
.footer__switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}
.footer__switch-input {
  visibility: hidden;
}
.footer__switch-input:checked + .footer__slider::before {
  transform: translateX(20px);
}
.footer__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 34px;
  background-color: #fff;
  transition: 0.4s;
}
.footer__slider::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #24b47e;
  border-radius: 50%;
  transition: 0.4s;
}
@media screen and (max-width: 980px) {
  .footer {
    padding-left: 50px;
  }
}
@media screen and (max-width: 740px) {
  .footer {
    padding: 60px 18px 25px;
  }
  .footer__options {
    display: block;
    width: 38px;
    height: 38px;
    background-image: url(./images/footer-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
  .footer__img {
    display: none;
  }
  .footer__form {
    margin-top: 40px;
  }
  .footer__btn {
    display: none;
  }
  .footer__switch {
    display: none;
  }
}/*# sourceMappingURL=footer.css.map */