.bikes {
  padding: 60px 120px;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    margin: 0;
    padding: 0;
    @include section-title;
  }

  &__nav {
    border: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    column-gap: 43px;
  }

  &__radio {
    display: none;
  }

  &__label {
    box-sizing: border-box;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.55;
    color: #222222;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
  }

  &__mobile-label {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 8px 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.27;
    color: #222222;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
  }

  &__mobile-label:hover {
    background-color: #cacaca;
    color: #151515;
    opacity: 1;
  }

  &__label:hover {
    opacity: 0.6;
  }

  &__mobile-menu {
    display: none;
    list-style-type: none;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    border-radius: 2px;
    width: 116px;
    margin: 0;
    padding: 0;

    &_opened {
      display: none;
    }
  }

  &__radio:checked + &__label {
    font-style: normal;
    font-weight: 600;
    color: #151515;
    opacity: 1;
    transition: 0.3s;
  }

  &__radio:checked + &__label:hover {
    opacity: 0.75;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin: 120px 0 0;
  }

  &__card {
    box-sizing: border-box;
    width: fit-content;
    cursor: pointer;
    margin: 0 auto;
  }

  &__img-placeholder {
    border-radius: 20px;
    padding: 20px;
    box-shadow: (0px 20px 140px rgba(0, 0, 0, 0.06));
  }

  &__img {
    display: block;
    background: #f4f4f4;
    border-radius: 20px;
    overflow: hidden;
    max-width: 100%;
  }

  &__name {
    margin: 22px 5px 0;
    padding: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
  }

  &__slider {
    display: none;
    width: fit-content;
    margin: 20px auto 0;
  }

  &__round {
    width: 4px;
    height: 4px;
    margin-right: 5px;
    background-color: #cacaca;
    border-radius: 50%;
    cursor: pointer;
  }

  &__round:hover {
    opacity: 0.75;
  }

  &__radio:checked + &__round {
    background-color: #151515;
  }

  &__round:last-of-type {
    margin-right: 0;
  }

  @media screen and (max-width: 980px) {
    & {
      padding-left: 50px;
    }
  }

  @media screen and (max-width: 740px) {
    & {
      padding: 40px 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 40px;
      width: 100%;
      border-top: 1px solid #e3e3e3;
    }

    &__header {
      flex-direction: column;
      margin-top: 40px;
      align-items: flex-start;
    }

    &__nav {
      position: relative;
      margin-top: 40px;
      grid-template-columns: 114px;
      grid-template-rows: 30px;
      border: 1px solid #e3e3e3;
      box-sizing: border-box;
      border-radius: 2px;
      max-height: 32px;
      overflow: hidden;

      &_opened {
        max-height: none;
      }
    }

    &__label {
      display: block;
      font-size: 11px;
      line-height: 1.27;
      position: relative;
      padding: 8px 12px;

      &_hidden {
        display: none;
      }
    }

    &__radio:checked + &__label::after {
      content: "";
      display: block;
      position: absolute;
      top: 13px;
      right: 12.5px;
      width: 10px;
      height: 4.5px;
      background-image: url(./images/checked.svg);
      background-repeat: no-repeat;
      background-position: 0;
      background-size: contain;
    }

    &__slider {
      display: flex;
    }

    &__mobile-menu_opened {
      display: block;
    }

    &__card {
      display: block;
      max-width: 100%;
      width: 100%;
      padding: 14.95px;
      box-shadow: (0px 20px 140px rgba(0, 0, 0, 0.06));
      border-radius: 20px;
    }

    &__slider-window {
      margin-top: 20px;
      overflow-x: hidden;
      border-radius: 20px;
      box-shadow: 0px 20px 140px rgba(0, 0, 0, 0.06);
    }

    &__cards {
      margin: 0;
      column-gap: 0;
      grid-template-columns: repeat(3, 100%);
      border-radius: 20px;
      transition: 0.4s all ease-in-out;
    }

    &__img-placeholder {
      padding: 0;
      box-shadow: none;
      width: fit-content;
      margin: 0 auto;
    }

    &__name {
      margin: 2.95px auto 0;
      font-size: 14px;
      line-height: 1.28;
      width: fit-content;
    }
  }
}
