.page {
  font-family: Inter, Arial, sans-serif;
  margin: 0;
  min-width: 320px;
  background-color: #f4f4f4;
  color: #151515;

  &_theme_dark {
    background-color: #333;
    color: #fff;

    & > .header {
      background-color: #333;
      color: #fff;
    }

    & .header__mobile-menu {
      background-color: #333;
      color: #fff;
    }

    & .header__img_type_sun {
      background-image: url(./images/brightness-icon-dark.svg);
    }

    & .header__img_type_night {
      background-image: url(./images/night-icon-dark.svg);
    }

    & .header__slider {
      background-color: #545454;
    }

    & .header__line {
      background-color: #fff;
    }

    & .header__burger-menu_opened {
      background-image: url(./images/close-icon-white.svg);
    }

    & > .footer {
      background-color: #333;
      color: #fff;
    }

    & .intro__text {
      color: #e5e5e5;
    }

    & .intro__link {
      color: #fff;
    }

    & .intro__line {
      color: #707070;
    }

    & .merks__title {
      color: #e5e5e5;
    }

    & .high-road__text {
      color: #e5e5e5;
    }

    & .high-road__btn {
      background-color: #434343;
    }

    & .high-road__btn_type_prev {
      background-image: url(./images/prev-icon-white.svg);
    }

    & .high-road__btn_type_next {
      background-image: url(./images/next-icon-white.svg);
    }

    & .bikes__label {
      color: #e5e5e5;
    }

    & .bikes__mobile-label {
      color: #e5e5e5;
    }

    & .bikes__radio:checked + .bikes__label {
      color: #fff;
    }

    & .training__text {
      color: #e5e5e5;
    }

    & .footer {
      background-color: #2f2f2f;
    }

    & .footer__input {
      border-color: rgba(125, 125, 125, 0.5);
      color: #fff;
    }

    & .footer__input::placeholder {
      color: #fff;
      opacity: 0.5;
    }

    & .footer__copyright {
      color: #565656;
    }

    & .footer__img_type_sun {
      background-image: url(./images/brightness-icon-dark.svg);
    }

    & .footer__img_type_night {
      background-image: url(./images/night-icon-dark.svg);
    }

    & .footer__slider {
      background-color: #545454;
    }

    @media screen and (max-width: 740px) {
      & .footer__options {
        background-image: url(./images/footer-logo-gray.svg);
      }
    }
  }
}
